header 
{
    nav
    {
        display: flex;
        padding: .5rem;
        box-shadow: .1rem .1rem .1rem lightgray;
        logo
        {
            float: left;
            img {
                display: inline;
            }
            h1 {
                display: inline;
                font-family: Roboto;
                margin: 0;
                padding: 0;
            }
        }
        navtoggle
        {
            display: flex;
            float: right;
            margin-left: auto;
            background-color: var(--secondary);
            border-radius: .4rem;
            padding: 0 .8rem 0 .8rem;
        }
    }
}